@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #134dc7;
  --secondary-color: #172b4d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.brand-name {
  color: var(--primary-color);
}

.hamburger-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.hamburger-btn:hover span {
  background-color: var(--secondary-color);
}
.hamburger-btn span {
  height: 3px;
  width: 30px;
  background: var(--primary-color);
  border-radius: 2px;
}
